// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import "bootstrap";

$leftNav-height: 50px;
$leftTag-height: 70px;
$dropdown-height: 55px;
$pad: 10px;


/* Drop downs for sorting */
.sortmenu{
	padding: $pad;
	height: $dropdown-height;
}



.dropdown-toggle{
	width: 100%;
}

.dropdown-menu{
	width: 100%;
}

/* Notes */

.notes{
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - #{$leftNav-height} - #{$leftTag-height} - #{$dropdown-height});
  height:-moz-calc(100% - #{$leftNav-height} - #{$leftTag-height} - #{$dropdown-height});
  height:-webkit-calc(100% - #{$leftNav-height} - #{$leftTag-height} - #{$dropdown-height});
  padding-right: $pad;
  padding-left: $pad;
  margin: 0px;
}

.notesBox{
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
}

.notesBox > .panel-heading{
	background-color: #2a7eb4;
	color: white;
}

.notetitle , .tagtitle{
 	overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  display:inline-block;
  width: 80%;
  padding-left:10px;
}

.notesBox .noteButton{
	display: none;
}

.notesBox:hover .noteButton{
	display: inline;
}

.notesBox > .panel-body{
	word-wrap: break-word;
}

.noteDate{
	font-size: 10px;
	text-align: right;
	height: 50%;
}

.notesBox{
	border-style: none;
	margin-bottom: $pad;
	padding-left: 0px;
	padding-right: 0px;

}

.tagDate{
	font-size: 10px;
	text-align: right;
}

/* Left side of layout */

.leftbar{
	background-color: #545c68;
	padding: 0px;
	height: 100vh;
}

.leftbar > .leftNav{
	height: $leftNav-height;
}

.leftbar > .leftNav > .navButtons{
	height: $leftNav-height - 2px;
	padding-left: $pad;
	padding-right: $pad;
	padding-top: 5px;
	padding-bottom: 5px;
}

.leftNav > .line{
	height: 2px;
	background-color: white;
}

.leftbar > .leftNav > .navButtons > .btn{
	height: 100%;
	background-color: transparent;  
	border: none;
}

.leftTag{
	height: $leftTag-height;
	padding: $pad;
	margin: 0px;
}
.lefttag > .well .tagBox{
	margin: 0px;
}


/* Right side of layout */

.rightbar{
	background-color: #2e4f68;
 	padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.groups{
	height:calc(100% - 60px);
  height:-moz-calc(100% - 60px);
  height:-webkit-calc(100% - 60px);
}

.groupsArea{
	margin: 0px;
	padding-left: $pad;
	padding-right: $pad;
	padding-bottom: 0px;
	overflow-y: scroll;
	height:calc(100% - #{$dropdown-height});
  height:-moz-calc(100% - #{$dropdown-height});
  height:-webkit-calc(100% - #{$dropdown-height});
}

.navbar{
	background-color: #2a7eb4;
	border: none;
	padding-left: 0;
	box-shadow: none;
	margin:0;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  
    display: block;
}

.navbar-default .navbar-brand
{
	color: white;
}

.navbar-left .btn-primary{
	background-color: transparent;  
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.mobileTabs{
	padding-top: $pad;
	padding-left: $pad;
	padding-right: $pad;
	overflow-y: scroll;
	overflow-x: hidden;
	height:calc(100% - 50px);
  height:-moz-calc(100% - 50px);
  height:-webkit-calc(100% - 50px);
}

.tab-width{
  background-color: #3e6482;
	width: 50%;
}

.panel-heading .btn-primary{
	background-color: transparent;
}

.spacer{
	height: 10px;
}

