// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import "bootstrap";

$leftNav-height: 50px;
$leftTag-height: 80px;
$dropdown-height: 50px;
$pad: 10px;

.leftbar{
	background-color: #545c68;
	padding: 0px;
	height: 100vh;
}

.leftbar .leftNav{
	height: $leftNav-height + #{$dropdown-height};
}

.leftbar .leftNav .navButtons{
	height: 48px;
	padding-left: $pad;
	padding-right: $pad;
	padding-top: 5px;
	padding-bottom: 5px;
}

.leftbar .leftNav .navButtons .btn{
	height: 100%;
}

.leftNavButtons{
  background-color: transparent;  
}

.leftbar .leftNav .line{
	height: 2px;
	background-color: white;
}

.notes{
	margin-top: $pad;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - #{$leftNav-height} - #{$pad} - #{$leftTag-height} - #{$dropdown-height});
  height:-moz-calc(100% - #{$leftNav-height} - #{$pad} - #{$leftTag-height} - #{$dropdown-height});
  height:-webkit-calc(100% - #{$leftNav-height} - #{$pad} - #{$leftTag-height} - #{$dropdown-height});
  padding-right: $pad;
  padding-left: $pad;
}


.notesBox{
	border-style: none;
	margin-bottom: $pad;
	padding-left: 0px;
	padding-right: 0px;

}

.notesBox > .panel-heading{
	background-color: #2a7eb4;
	color: white;
}


.notesBox .note-buttons {
    display: none;
}

.notesBox:hover .note-buttons{
	display: inline;
}

.noteDate{
	font-size: 10px;
	text-align: right;
}

.tagDate{
	font-size: 10px;
	text-align: right;
}

.notesBox{
	border-style: none;
	margin-bottom: $pad;
	padding-left: 0px;
	padding-right: 0px;

}

.groupNotesBox .note-buttons {
  display: none;
}

.groupNotesBox:hover .note-buttons{
	display: inline;
}


.leftTag{
	height: $leftTag-height;
	padding: $pad;
}
.tagBox{
	height: $leftTag-height - 20px;	
	margin: 0;
}

.rightbar{
	background-color: #2e4f68;
 	padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.groups{
	height:calc(100% - 60px);
  height:-moz-calc(100% - 60px);
  height:-webkit-calc(100% - 60px);
}

.groupsArea{
	margin: 0px;
	padding-left: $pad;
	padding-right: $pad;
	padding-bottom: 0px;
	overflow-y: scroll;
	height:calc(100% - #{$dropdown-height});
  height:-moz-calc(100% - #{$dropdown-height});
  height:-webkit-calc(100% - #{$dropdown-height});
}

.navbar{
	background-color: #2a7eb4;
	border: none;
	padding-left: 0;
	box-shadow: none;
	margin:0;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  
    display: block;
}

.navbar-default .navbar-brand
{
	color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.mobileTabs{
	padding-top: $pad;
	padding-left: $pad;
	padding-right: $pad;
	overflow-y: scroll;
	overflow-x: hidden;
	height:calc(100% - 50px);
  height:-moz-calc(100% - 50px);
  height:-webkit-calc(100% - 50px);
}

.tab-width{
  background-color: #3e6482;
	width: 50%;
}

.panel-heading .btn-primary{
	background-color: transparent;
}

.dropdown.sort{
	margin: $pad;
}

.dropdown.sort-mobile{
	margin-bottom: $pad;

}

.dropdown-toggle{
	width: 100%;
}

.dropdown-menu{
	width: 100%;
}

