body{
	background-color: #2e4f68;
}


.leftbar{
	background-color: #415462;
	padding-left: 0;
    padding-right: 0;
}

.rightbar{
	background-color: #2e4f68;
 	padding-left: 0;
    padding-right: 0;
}

.navbar{
	background-color: #2a7eb4;
	border: none;
	box-shadow: none;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.navbar-default .navbar-brand
{
	color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.panel-default{
	margin: 10px;
}

