<div class="modal fade" id="delete-confirm" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger" id="del-button" data-method="delete" data-remote="true" rel="nofollow" data-dismiss="modal">Delete</a>
			</div>
		</div>
	</div>
</div>