<div class="dropdown sort">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by :
	<span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <li><%= link_to("Alphabetical", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[0]}) %></li>
	  <li>	<%= link_to("Updated", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[1]}) %></li>
	  <li>	<%= link_to("Created", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[2]}) %></li>
	  <li><%= link_to("Pinned", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[3]}) %></li>
	</ul>
</div>