<%= form_for [@account, @tag], remote: true, :html => { :role => "tagform" } do |f| %>
  <div class="form-group">
    <%= f.label :tag %><br>
    <%= f.text_field :tag_name, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default pull-left" %>
<% end %>
