$('#dialog h3').html("Edit");
$('.modal-body').html('<%= j render("editform") %>');

$('#dialog').modal("show");

 $(document).ready(function () {
    var tags = [];
    $(window).keydown(function (e) {
      if(e.keyCode == 13) {
        e.preventDefault();
      }
    });
    $('#tags').keyup(function (e) {
      if(e.keyCode == 13) {
        var tag = $('#tags').val();
        if(tag && (tags.indexOf(tag) < 0)) {
          tags.push(tag);
          $('#tag-list').append('<li><h4><span class="label label-primary">' + tag + '</span></h4>');
          $('#tags-form').append('<input type="hidden" name="tags[]" id="tags_" value="' + tag + '" />');
          $('#tags').val('');
        }
      }
    });
  });