<!DOCTYPE html>
<html lang="en">
<head>
  <title>Noted</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "styles.css" %>
</head>
<body>



<div class="container-fluid">
	<div class="row row-no-pad">
		<!--Left bar-->

		<!--Notes taken will appear here if not already in a group-->
	
		<!--Tags bar-->
	  	<div class="col-md-3 leftbar">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#new_note"><span class="glyphicon glyphicon-plus"></span>Note</button>

			<% @notes.each do |note| %>
	    <tr>
	    	<div class="panel panel-default">
	    		<div class = "panel-heading"><%= note.title %></div>
	    		<div class = "panel-body"><%= note.text %></div>
	    	</div>
	    </tr>
	  	<% end %>


			<div class="panel panel-default">
	  			<div class="panel-body">
	  				<div class="panel-title pull-left">Tags |</div>
	  			</div>
			</div>
	  	</div>


	  	<!--Right bar-->
	  	<div class="col-md-9 rightbar">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
				 	<div class="navbar-header">
				    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBar">
							<span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>    
					    <a class="navbar-brand" href="#">Noted</a>
				    </div>
				    <div class="navbar-collapse collapse" id="NavBar">
					    <ul class="nav navbar-nav navbar-left">
					    	<!--New Group-->
					        <li><a href="#" data-toggle="modal" data-target="#new_group"><span class="glyphicon glyphicon-plus"></span> New Group</a></li>
					    </ul>
					    <ul class="nav navbar-nav navbar-right">
					    	<li class="dropdown">
					        	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Account</a>
					        	<ul class="dropdown-menu">
					        		<!--Logout-->
					        		<li><a href="#">Logout</a></li>
					        	</ul>
				      		</li>
				    	</ul>
				    </div>
				</div>
			</nav>
			<!--Groups Area-->
			<!--Notes taken will appear here if in a group-->

		</div>
	</div>
</div>



</body>

<!-- Add Notes Modal -->
<!--
User will enter
title
note_contents
tags
//-->
<div id="new_note" class="modal fade" role="dialog">
	<div class="modal-dialog">
    	<!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-body">
		      	<form class="form-hotizontal">
					<div class="form-group">
						<input type="title" class="form-control" id="title" placeholder="Title">
					</div>
					<div class="form-group">
						<textarea type="text" class="form-control" rows="4" id="text" placeholder="Record your note..."></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="tags" placeholder="Tags">
					</div>
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default pull-right" data-dismiss="modal">Note.</button>
					<div class="clearfix"></div>
				</form>
			</div>
	    </div>

	</div>
</div>

<!-- Add Group Modal -->
<!--
User will enter
group
//-->
<div id="new_group" class="modal fade" role="dialog">
	<div class="modal-dialog">
    	<!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-body">
		      	<form class="form-hotizontal">
					<div class="form-group">
						<label for="group">New Group : </label>
						<input type="text" class="form-control" id="group" placeholder="Group Name">
					</div>
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default pull-right" data-dismiss="modal">Add</button>
					<div class="clearfix"></div>
				</form>
			</div>
	    </div>

	</div>
</div>

</html>